<template name="questionList">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="header row">
					<div class="col-xs-5">{{_ "question.content"}}</div>
					<div class="col-xs-3">{{_ "question.topic"}}</div>
					<div class="col-xs-1">{{_ "question.vote"}}</div>
					<div class="col-xs-2">Actions</div>
				</div>
				{{#each questions}}
					<div class="item row">
						<div class="question-list col-xs-5">
							<p name='questionContent'>{{content}}</p>
						</div>
						<div class="topic-list col-xs-3">
							<p>{{topic}}</p>
						</div>
						<div class="topic-list col-xs-1">
							{{#if voters}}
								<p>{{voters.length}}</p>
							{{else}}
								<p>0</p>
							{{/if}}
						</div>
						<div class="col-xs-2">
							<a href="{{pathFor 'answerQuestion' _id}}">{{_ "question.solve.label"}}</a>
							{{#if isAuthor userId}}
								<a href="{{pathFor 'editQuestion' _id}}">{{_ "common.edit"}}</a>
							{{/if}}
						</div>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
</template>
