<template name="footer">
    <footer class="footer-demo">
        <div class="container">
            <nav class="pull-left">
                <ul>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </nav>
            <div class="copyright pull-right">
                &copy; 2016 How to say
            </div>
        </div>
    </footer>
</template>
