<template name="layout">
    {{> header}}
    <div class="container">
        <div class="main">
            <div class="section">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        {{> errors}} {{> yield}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="layout2">
    {{> header}}
    <div class="container">
        {{> errors}} {{> yield}}
    </div>
</template>
