<template name="layout">
    <div class="application">
        {{> header}}
        <div id="main-container" class="section">
            <div class="col-xs-10 col-xs-offset-1">
                {{> yield}}
            </div>
        </div>
        {{> footer}}
        <script type="text/javascript">
            $('#main-container').css("min-height", $(window).height() - 190);
        </script>
    </div>
</template>
<template name="layout2">
    {{> header}}
    <div class="container">
        {{> yield}}
    </div>
</template>
<template name="nonHeaderLayout">
    <div class="container">
        {{> yield}}
    </div>
</template>
