<template name="addQuestion">
    <h2>{{_ "addQuestionHeader"}}</h2>

    <form class="add-question">
        <span name="messages"></span>
        <fieldset class="form-group">
            <label for="questionContent">{{_ "content"}}</label>
            <textarea class="form-control" id="questionContent" name="questionContent" rows="3"></textarea>
        </fieldset>
        <fieldset class="form-group">
            <label for="questionTopic">{{_ "topic"}}</label>
           <!--  <input type="text" class="form-control" id="questionTopic" name="questionTopic" placeholder="game, sport..."> -->
           <!-- <input type="text" id="input-tags" class="demo-default" value="awesome,neat"> -->
           <select id="select-links" placeholder="Pick some links..."></select>
        </fieldset>
        <br />
        <button class="btn btn-primary" type="submit">{{_ 'create'}}</button>
    </form>
</template>
