<template name="addQuestion">
    {{#if isLogin}}
      <h2>{{_ "addQuestionHeader"}}</h2>
      <form class="add-question">
        <span name="messages"></span>
        <div class="row">
            <label class="col-xs-2">{{_ "type"}}:</label>
            <select name="questionType"  class="col-xs-6" >
              {{#each options}}
                <option value="{{value}}">{{label}}</option>
              {{/each}}
            </select>
        </div>
        <div class="row">
            <label class="col-xs-2">{{_ "content"}}:</label>
            <textarea name='questionContent' class="question col-xs-6"></textarea>
        </div>
        <div class="row">
            <label class="col-xs-2">{{_ "topic"}}:</label>
            <input class="col-xs-6"  type="text" name="questionTopic">
        </div>
            <input class="btn btn-success" type="submit" value="{{_ 'create'}}" />
      </form>
    {{else}}
      <h1> You need to login </h1>
    {{/if}}
</template>

<template name="question">
  
</template>