.addAnswer{
	cursor: pointer;
	color: blue;
}
.edit-question{
	font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.addAnswer {
  cursor: pointer;
  color: blue;
}


/*Login*/

.sign-in-container {
  max-width: 300px;
  margin: 0 auto;
}

textarea {
  resize: vertical;
}

.topic-list, .question-list, .type-list{
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14;
}
.question-list{
  color: blue;
  cursor: pointer;
}