<template name="answerItem">
	<div class="row animated">
		<div class="col-xs-1 text-center">
			<div>
				<a href="#" class="vote-answer">
					{{#if voted}}
						<i class="fa fa-heart"></i>
					{{else}}
						<i class="fa fa-heart-o"></i>
					{{/if}}
				</a>
			</div>
			<div>{{voteCount}}</div>
		</div>
		<div class="col-xs-11">
			<div class="answer-content">
				<small>
					<a class="answer-username">{{username}}</a>
					<span class="answer-time">
						<span class="icon fa fa-clock-o"></span>
						{{createdAt}}
					</span>
				</small>
				<p>{{content}}</p>
			</div>
		</div>
	</div>
</template>
