<template name="signIn">
    <div class="section">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card card-raised">
                <form role="form" id="sign-in-form" method="post">
                    <div class="header header-raised header-primary text-center">
                        <h4>{{_ "account.logIn.title"}}</h4>
                    </div>
                    <div class="content">
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">{{_ "account.email"}}</label>
                            <input name="email" class="form-control" type="email">
                            <span class="material-input"></span></div>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">{{_ "account.password"}}</label>
                            <input class="form-control" type="password" name="password" />
                            <span class="material-input"></span></div>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-primary btn-block">{{_ "account.logIn.action"}}</button>
                            <a href="{{pathFor 'signUp'}}">{{_ "account.logIn.redirectToSignUp"}}</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
