<template name="addAnswer">
    <form class="answer-form form">
        <div class="form-group label-floating is-empty">
            <label class="control-label">{{_ "answer.label"}}</label>
            <input name="body" id="body" class="form-control">
            <span class="material-input"></span>
        </div>
        <div class="text-right">
            <a class="skip-answer">{{_ "answer.check"}}</a>
            <button type="submit" class="btn btn-primary">{{_ "answer.submit"}}</button>
        </div>
    </form>
</template>
