<template name="study">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<div class="col-xs-6">
						<h4 class="title">{{_ "question.solve.title"}}</h4>
					</div>
					<div class="col-xs-6">
						{{#if showAnswer}}
							<button id="next-question" class="btn btn-success btn-fill pull-right next-question">
								{{_ "study.nextQuestion"}}
								<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
							</button>
						{{/if}}
					</div>
				</div>
				{{#if Template.subscriptionsReady}}
					{{#with studyingQuestion}}
						{{> questionItem}}
						{{#if showAnswer}}
							{{> allAnswers}}
						{{else}}
							<div class="row">
								<div class="col-md-11 col-md-offset-1">
									{{> addAnswer studyMode=true question=studyingQuestion}}
								</div>
							</div>
						{{/if}}
					{{/with}}
				{{else}}
					<div class="loading-wrapper">
						{{> spinner}}
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</template>
