<template name="questionItem">
	<div class="">
		<div class="col-xs-10">
			<h3 class="title">{{_ "question.solve.title"}}
			</h3>
		</div>
		<div class="col-xs-2 question-vote text-right">
			{{> voteQuestion}}
		</div>
	</div>
	<div>
		<legend></legend>
		<label class="control-label">{{content}}</label>
	</div>
	<div class="question-topics pull-left">
		{{#each topics}}
			<span class="badge">{{content}}</span>
		{{/each}}
	</div>
	<div class="question-info pull-right">
		<span class="question-user">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			<a class="">{{username}}</a>
		</span>
		<span class="question-time">
			<span class="icon fa fa-clock-o"></span>
			{{createdAt}}
		</span>
	</div>
	<div class="clearfix"></div>
</template>
