<template name="questionItem">
	<div class="row">
		<div class="col-sm-1 question-vote">
			{{> voteQuestion}}
		</div>
		<div class="col-sm-11">
			<div class="question-content">
				<p>{{content}}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5 col-sm-offset-1">
			<div class="question-topics">
				{{#each topics}}
					<span class="badge">{{content}}</span>
				{{/each}}
			</div>
		</div>
		<div class="col-sm-6">
			<div class="question-info">
				<span class="question-user">
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<a class="">{{username}}</a>
				</span>
				<span class="question-time">
					<span class="icon fa fa-clock-o"></span>
					{{createdAt}}
				</span>
			</div>
		</div>
	</div>
</template>
