<template name="questionItem">
	<div class="row">
		<div class="col-xs-10">
			<h4 class="title">{{_ "question.solve.title"}}</h4>
		</div>
		<div class="col-xs-2 question-vote">
			{{> voteQuestion}}
		</div>
	</div>

	<div class="question-content">
		<p>{{content}}</p>
	</div>
	<div class="question-topics pull-left">
		{{#each topics}}
			<span class="badge">{{content}}</span>
		{{/each}}
	</div>
	<div class="question-info pull-right">
		<span class="question-user">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
			<a class="">{{username}}</a>
		</span>
		<span class="question-time">
			<span class="icon fa fa-clock-o"></span>
			{{createdAt}}
		</span>
	</div>
	<div class="clearfix"></div>
</template>
