<template name="displayQuestion">
    <h2>{{_ "displayedQuestion"}}</h2>
    <div>
        {{> questionItem}}
    </div>
    
    {{#if isAddingQuestionMode}}
      <a href="{{pathFor 'displayQuestion' _id=this._id}}">Add an answer</a>
      <div class="btn">
          <input class="addMore btn btn-success" type="button" value="{{_ 'addMore'}}" />
          <input class="finished btn btn-primary" type="button" value="{{_ 'finished'}}" />
      </div>
    {{else}}
      {{#if noAnswersFound}}
          No answers found.
      {{else}}
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#all-answers">All answers</a></li>
          <li><a data-toggle="tab" href="#my-answers">My answers</a></li>
        </ul>
        <div class="tab-content">
          <div id="all-answers" class="tab-pane fade in active">
            <ul class="answers">
              {{#each allAnswers}} 
                {{> answerItem}} 
              {{/each}}
            </ul>
          </div>
          <div id="my-answers" class="tab-pane fade">
            <ul class="answers">
              {{#each myAnswers}} 
                {{> answerItem}} 
              {{/each}}
            </ul>
          </div>
        </div>
      {{/if}}
      {{> addAnswer}}
    {{/if}}
</template>

