<template name="displayQuestion">
    {{> questionItem}}
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge">{{topic}}</span>
            <p class="pull-left">{{> voteQuestion}}</p>
            <a href="{{pathFor 'answerQuestion' _id}}"><i class="material-icons">question_answer</i> {{_ "question.solve.label"}}</a>
        </li>
        <li class="list-group-item">
            {{#if noAnswersFound}}
                {{#if Template.subscriptionsReady}}
                    {{_ "answer.noResult"}}
                {{/if}}
            {{else}}
                <ul class="nav nav-tabs">
                    <li class="active pull-right"><a data-toggle="tab" href="#all-answers">{{_ "answer.allAnswers"}}</a></li>
                    <li class="pull-right"><a data-toggle="tab" href="#my-answers">{{_ "answer.myAnswers"}}</a></li>
                </ul>
                <div class="tab-content answers-container">
                    <div id="all-answers" class="tab-pane fade in active">
                        {{#each allAnswers}}
                            {{> answerItem}}
                        {{/each}}
                        {{#if Template.subscriptionsReady}}
                            {{#if hasMoreAnswers}}
                                <div class="text-center">
                                    <button id="show-more" class="btn btn-primary btn-xs">{{_ "common.loadMore"}}</button>
                                </div>
                            {{/if}}
                        {{else}}
                            <div class="text-center">
                                {{> spinner}}
                            </div>
                        {{/if}}
                    </div>
                    <div id="my-answers" class="tab-pane fade">
                        {{#each myAnswers}}
                            {{> answerItem}}
                        {{/each}}
                    </div>
                </div>
            {{/if}}
        </li>
    </ul>
</template>
