<template name="userProfile">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{name}}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{email}}</p>
      </div>
    </div>
    {{#unless emailVerified}}
      <div class="form-group">
        <label class="col-sm-2 control-label">Email verification</label>
        <div class="col-sm-10">
          <p class="form-control-static">Not verified</p>
        </div>
      </div>
    {{/unless}}
    <div class="form-group">
      <label class="col-sm-2 control-label">Display Language</label>
      <div class="col-sm-10">
        <p class="form-control-static">{{displayLanguage}}</p>
      </div>
    </div>
  </form>
</template>
