<template name="changePassword">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<form class="change-password">
					<p name="messages"></p>
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">{{_ "account.passwordChange.current"}}</label>
						<div class="col-sm-9">
							<input type="password" class="form-control" name="currentPassword" placeholder="{{_ 'account.passwordChange.current'}}">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">{{_ "account.passwordChange.new"}}</label>
						<div class="col-sm-9">
							<input type="password" class="form-control" name="newPassword" placeholder="{{_ 'account.passwordChange.new'}}">
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-3 form-control-label">{{_ "account.passwordChange.newRepeated"}}</label>
						<div class="col-sm-9">
							<input type="password" class="form-control" name="newPasswordRepeated" placeholder="{{_ 'account.passwordChange.newRepeated'}}">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-9 col-sm-offset-3">
							<button type="submit" class="btn btn-primary">{{_ "account.passwordChange.action"}}</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>
