<template name="changePassword">
  <form class="change-password">
    <p name="messages"></p>
    <div class="form-group row">
      <label class="col-sm-3 form-control-label">{{_ "user.passwordChange.current"}}</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" name="currentPassword" placeholder="Current Password">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 form-control-label">{{_ "user.passwordChange.new"}}</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" name="newPassword" placeholder="New Password">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 form-control-label">{{_ "user.passwordChange.newRepeated"}}</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" name="newPasswordRepeated" placeholder="New Password Repeated">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">{{_ "user.passwordChange.action"}}</button>
  </form>
</template>
