<template name="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'homePage'}}">{{_ "appName"}}</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="{{isActiveRoute 'addQuestion'}} add-question-header"><a href="{{pathFor 'addQuestion'}}">{{_ "addQuestion"}}</a></li>
          <li class="{{isActiveRoute 'questionList'}}"><a href="{{pathFor 'questionList'}}">{{_ "questionList"}}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{displayName}} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="{{pathFor 'userProfile'}}">{{_ "profile"}}</a></li>
                <li><a href="{{pathFor 'listQuestionAnswerByMe'}}">{{_ "listQuestionAnswerByMe"}}</a></li>
                <li><a href="{{pathFor 'listMyQuestion'}}">{{_ "listMyQuestion"}}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" id="logout">{{_ "signOut"}}</a></li>
              </ul>
            </li>
          {{else}}
            <li><a href="{{pathFor 'signIn'}}">{{_ "signIn"}}</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</template>
